<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- dependiendo de tu target API level, tabién puedo necesitar: -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeHaven"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <!-- SplashScreenActivity configurada como la actividad de inicio -->
        <activity android:name=".login.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name="es.meliseoperez.MainActivity"
            android:exported="true">
            <!-- No necesitas un intent-filter con MAIN y LAUNCHER a menos que esta sea la entrada principal de tu aplicación -->
        </activity>
        <activity
            android:name="es.meliseoperez.safehaven.login.RegisterActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".api.comments.ComentariosActivity"
            android:exported="true">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXnes5Bg7IVpgTQw_WHEh8BFU1axruwZM" />
    </application>
</manifest>